{% extends 'baseMembers.html.twig' %}

{% block title %}Composition de votre panier !{% endblock %}

{% block body %}
<h1 class="text-center">Bienvenue sur la page vous permettant de composer vous même votre panier !</h1>
{% endblock %}