{% extends 'baseMembers.html.twig' %}

{% block title %}Page d'accueil de l'espace membre !{% endblock %}

{% block body %}
<h1 class="text-center">Bienvenue sur la page d'accueil de votre espace membre !</h1>
{% endblock %}