{% extends 'baseVisitor.html.twig' %}

{% block title %}Page d'inscription !{% endblock %}

{% block body %}
    {{ form_start(form)}}
    <label id="form_errorRegistrationAdmin" class="strong"></label>
    {{ form_widget(form)}}
    <button type="submit" class="btn btn-success">Inscription !</button>
    {{ form_end(form)}}
{% endblock %}
