body{
    background-image: url("../images/IMG9857.png");
}
.logo{
    background-image: url("../images/logo.png"); 
    width: 75px;
    height: 75px;
}
.nav-link:hover{
    background-color:gray;
    border-radius: 10px;
}
footer{
    position: absolute;
    bottom: 0;
}
/* span{
    color: #e87b78; */
    /* color: #fe992a; */
    /* color: #737c85;
} */
/*************espace users***************/

/************espace members***************/

/*************espace admin****************/
/*membersList*/
.sepMemList{
    height: 3px;
    width: 500px;
    left: 0;
    background-color: black;
    border-radius: 5px;
}
/*homeAdmin*/
.linkAdmin{
    text-decoration: none;
}
/*basketColl*/
.baskColl{
    border: 2px solid black;
}