body{
    background-image: url("../images/IMG9857.png");
}
.logo{
    background-image: url("../images/logo.png"); 
    width: 75px;
    height: 75px;
}
.nav-link:hover{
    background-color:gray;
    border-radius: 10px;
}
footer{
    position: absolute;
    bottom: 0;
}
/* span{
    color: #e87b78; */
    /* color: #fe992a; */
    /* color: #737c85;
} */
/*************espace users***************/
/*page de présentation*/
#slideshow-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -10;
    margin: 0 auto;
}
#slideshow{
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 1s;
}
#slideshow.fadeOut{
    opacity: 0;
}
.slideshow-image{
    display: none;
}
/************espace members***************/

/*************espace admin****************/
/*membersList*/
.sepMemList{
    height: 3px;
    width: 500px;
    left: 0;
    background-color: black;
    border-radius: 5px;
}
/*homeAdmin*/
.linkAdmin{
    text-decoration: none;
}
/*basketColl*/
.baskColl{
    border: 2px solid black;
}