body{
    background-image: url("../images/IMG9857.png");
    margin-top: 120px;
    height: 100%;
}
.container{
    background-color: rgba(255, 255, 255, 0.2);
}
.logo{
    background-image: url("../images/logo.png"); 
    width: 75px;
    height: 75px;
}
.menu{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
.nav-link:hover{
    background-color:gray;
    border-radius: 10px;
}
.underline{
    width: 100%;
    height: 4px;
    border: 1px solid black;
    background-color:  #555; 
}
.deco{
    position: relative;
    width: 100%;
    height: 70px;
    left: 0;
    bottom: 0;
}
.rectangle
{
    position: absolute;
    left: 0;
	height: 70px;
	width: 100%;
	background-color: white;
	opacity: 0.5;
}
.triangle
{
    position: absolute;
    left: 0;
    width: 100%;
    border-left: 760px solid white;
    border-top: 35px solid transparent;
    border-right: 760px solid transparent;
    border-bottom: 35px solid white;
}
footer{

    margin-top: 202px !important;
    bottom: 0;
}
/*************espace visitor***************/
.btn{
    padding: 0;
}
p{
    margin: 0;
}
footer{
    margin-top: 120px;
}
/*page d'accueil*/
.homeTitle{
    width: 30%;
}
/*page de présentation*/
#titles{
    width: 75%;
    margin: auto;
    margin-bottom: 55px;
}
.image{
    float:left;
}
#slideshow-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -10;
    margin: 0 auto;
}
#slideshow{
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 1s;
}
#slideshow.fadeOut{
    opacity: 0;
}
.slideshow-image{
    display: none;
}
.image{
    width: 200px;
    height: 100px;
}
h3{
    margin-bottom: 0;
}
h4{
    color: white;
    margin-top: 20px;
    margin-bottom: 0;
    background-color: #555;
    border: 4px solid black;
    border-bottom: 0;
    border-radius: 4px 4px 0 0;
}
h5{
    color: white;
    margin-top: 20px;
    background-color: #555;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}
.chevronDown
{
	border-style: solid;
	color: white;
	border-width: 0.15em 0.15em 0 0;
	content: '';
	height: 0.60em;
    width: 0.60em;
    margin-top: 3.5px;
    margin-left: 10px;
	position: absolute;
    transform: rotate(135deg);
}
.chevronUp
{
	border-style: solid;
	color: white;
	border-width: 0.15em 0.15em 0 0;
	content: '';
	height: 0.60em;
    width: 0.60em;
    margin-top: 7.5px;
    margin-left: 10px;
	position: absolute;
    transform: rotate(-45deg);
}
#map{
    width: 700px;
    height: 350px; 
    margin: auto;
}
/*page inscription*/
.basketComp{
    border: 4px solid black;
    border-radius: 0 0 5px 5px;
    opacity: 0.9;
    padding: 15px;
}
.basketColl{
    border: 4px solid black;
    border-radius: 0 0 5px 5px;
    opacity: 0.9;
    padding: 15px;
}
/*page loginMembers*/
.loginMember{
    margin-bottom: 339px;
}
/************espace members***************/
/*baseMembers*/
.basketNoValidated{
    background-image: url("../images/basketNoValidated.png");
    width: 50px;
    height: 50px;
}
.basketValidated{
    background-image: url("../images/basketValidated.png");
    width: 50px;
    height: 50px;
}
/*page accountMembers.html.twig*/
/*basket_compouned*/
.redX{
    background-image: url("../images/redX.png");
    width: 20px;
    height: 20px;}
.greenV{
    background-image: url("../images/greenV.png");
    width: 20px;
    height: 20px;}
.formListInscr{
    display: flex;
    justify-content: space-between;
}
.listBasketComp{
    margin-top: 0;
}
.strong{
    color: red;
}
.downTitle
{
    margin-top: 48px;
}

/*************espace admin****************/
/*homeAdmin*/
.linkAdmin{
    text-decoration: none;
}
/*basketColl*/
.baskColl{
    border: 2px solid black;
}
/*membersList*/
.borderMemberList{
    border: 4px solid black;
    border-radius: 0, 0, 2px, 2px;
    padding: 10px;
}
.noMargin{
    margin-top: 0;
}
.sepMemList{
    height: 3px;
    width: 100%;
    left: 0;
    background-color: black;
    border-radius: 5px;
}
.MembersList{
    display: flex;
}
.MembersComp , .MembersColl{
    border: 4px solid black;
    border-radius: 0 0 5px 5px;
}
/*basketComp*/
.listBaskComp{
    width: 50%;
    margin: auto;
}
.titleAndFormComp{
    border: 4px solid black;
    border-radius: 0 0 5px 5px;
}
.pCenter{
    width: 50%;
    margin: auto;
}
/*basketColl*/
.baskColl{
    border: 2px solid black;
}
/*prodWeek*/
.formAndLists{
    display: flex;
    justify-content: space-around;
}
.forms{
    display: flex;
    position: fixed;
    bottom: 0;
}
.form{
    border: 4px solid black;
    border-radius: 0 0 5px 5px;
    padding: 15px;
}
.listsProd{
    margin-top: 67px;
    margin-left: 175px;
    width: 40%;
}
.refProd{
    font-size: 20px;
}
.prodList{
    border: 4px solid black;
    border-radius: 0 0 5px 5px;
}
.sepProdList{
    height: 3px;
    width: 100%;
    left: 0;
    background-color: black;
}

/****************version ipad pro******************/
@media all and (min-width: 1024px) and (max-width: 1366px){
    body{
        background-image: url("../images/image_body_ipad_pro.png");
        margin-top: 120px;
    }
    .titlehone{
        margin-top: 200px;
        margin-bottom: 50px;
    }
    .homeTitle{
        width: 50%;
    }
    .triangle
    {
        border-left: 480px solid white;
        border-right: 480px solid transparent;
    }
    footer{
        margin-left: 100px;
        margin-top: 192px !important;
    }
    .listsProd
    {
        margin-left: 0;
        width: 100%;
    }
    .titleAndForm
    {
        position: fixed;
        top: 463px;
    }
    .formInscription
    {
        margin-left: 2px;
    }

    /*partie visitor*/
    /*page presentationvisitor.html.twig*/
    .titlePresentation{
        margin-top: 200px;
    }
    #slideshow{
        margin-top: 100px;
    }
    #titles{
        margin-top: 195px;
        margin-bottom: 98px;
    }
    /*page registrationBaskComp.html.twig*/
    .titleBaskComp{
        margin-top: 200px;
    }
    .titleAndBaskComp{
        margin-top: 70px;
    }
    /*page registrationBaskColl.html.twig*/
    .titleAndBaskColl{
        margin-top: 70px;
    }
    /*page loginMembers.html.twig*/
    .loginMember{
        margin-top: 247px;
    }
    .formLoginMember{
        margin-top: 50px;
    }

    /*partie member*/
    /*page accountMembers.html.twig*/
    .accountMember{
        margin-top: 400px;
        margin-bottom: 265px;
    }
    .infoMember{
        margin-top: 50px;
    }
    /*page basketCompounedMembers.html.twig*/
    .viewForCompBask{
        margin-top: 160px;
    }
    .viewPForCompBask{
        margin-top: 50px;
    }
    .formListInscr{
        margin-top: 50px;
    }
    /*partie admin*/
    /*page home admin*/
    .homeAdmin{
        margin-top: 400px;
        margin-bottom: 340px;
    }
    /*page prodOfWeek*/
    /**/
    .titleAndForms{
        width: 50%;
        margin-right: 100px;
    }
    /**/
    .listsProd{
        width: 50%;
    }
} 
/***********version ipad******************/
@media all and (min-width: 768px) and (max-width: 1023px){
    body{
        background-image: url("../images/image_body_ipad.png");
        margin-top: 120px;
    }
    .rectangle{
        width: 100%;
        height: 80px;
    }
    .triangle
    {
        border-left: 360px solid white;
        border-top: 42px solid transparent;
        border-right: 360px solid transparent;
        border-bottom: 42px solid white;
    }
    footer{
        margin-left: 100px;
        margin-top: 118px !important;
        margin-bottom: 107px;
    }
    /*page presentationvisitor.html.twig*/
    .titlePresentation{
        margin-top: 100px;
    }
    #slideshow{
        margin-top: 90px;
    }
    #titlePresentation{
        margin-top: 195px;
    }
    /*page registrationBaskComp.html.twig*/
    .titleBaskComp{
        margin-top: 126px;
    }
    .titleAndBaskComp{
        margin-top: 70px;
    }
    /*page registrationBaskColl.html.twig*/
    .titleAndBaskColl{
        margin-top: 70px;
    }
    /*page loginMembers.html.twig*/
    .loginMember{
        margin-top: 200px;
        margin-bottom: 406px;
    }
    .formLoginMember{
        margin-top: 50px;
    }

    /*partie member*/
    /*page accountMembers.html.twig*/
    .accountMember{
        margin-top: 350px;
        margin-bottom: 255px;
    }
    .infoMember{
        margin-top: 50px;
    }
    /*page basketCompounedMembers.html.twig*/
    .viewPForCompBask{
        margin-top: 65px;
    }
    .formListInscr{
        margin-top: 50px;
    }
    /*partie admin*/
    /*page home admin*/
    .homeAdmin{
        margin-top: 380px;
        margin-bottom: 312px;
    }
    /*page prodOfWeek*/
    .textProdOfWeek{
        margin-top: 80px;
    }
    .formAndLists{
        width: 100%;
    }
    /**/
    .forms{
        width: 40%;
        left: 65px;
    }
    /**/
    .listsProd{
        margin-top: 122px;
        margin-right: -40px;
    }
}
/***********version smartphone**************/
@media all and (max-width: 767px){
    body{
        width: 100%;
    }
    /*partie visitor*/
    /*page home_visitor*/
    .underline{
        width: 60%;
    }
    .rectangle{
        width: 100%;
    }
    .triangle
    {
        border-left: 185px solid white;
        border-top: 35px solid transparent;
        border-right: 185px solid transparent;
        border-bottom: 35px solid white;
    }
    footer{
        margin-left: 100px;
        margin-top: 118px !important;
    }
    /*page presentation*/
    #slideshow-container{
        display: none;
    }
    .image{
        margin-left: 30px;
        float: none;
    }
    #map{
        width: 250px;
        height: 150px;
    }
    /*partie member*/
    /*page accountMembers.html.twig*/
    .accountMember{
        margin-top: 200px;
    }
    /*page basketCompounedMembers.html.twig*/
    .viewForCompBask{
        margin-top: 150px;
    }
    .viewPForCompBask{
        margin-top: 50px;
    }
    .formListInscr{
        margin-top: 50px;
    }
    /*partie admin*/
    /*page home admin*/
    .homeAdmin{
        margin-top: 200px;
        margin-bottom: 150px;
    }
    /*page prodOfWeek*/
    .formAndLists{
        display: inline;
    }
    .forms{
        position: initial;
        display: initial;
    }
    .titleAndForm{
        width: 100%;
    }
    .form{
        padding: 5px;
    }
    .listsProd{
        width: 100%;
        margin-left: 0;
    }
    /*page memberList*/
    .MembersList{
        display: initial;
    }
    .memberList1{
        margin-bottom: 30px;
    }
    .borderMemberList{
        border: 4px solid black;
        border-bottom: 0;
        border-radius: 0, 0, 2px, 2px;
        padding: 10px;
    }
    /*page baskComp*/
    .pCenter{
        width: 100%;
    }
    .listBaskComp{
        width: 100%
    }
}