{% extends 'baseVisitor.html.twig' %}

{% block title %}Page d'accueil !{% endblock %}

{% block body %}
<h1 class="text-center titlehone">BIENVENUE SUR LA PAGE D'ACCUEIL !</h1>
<h2 class="homeTitle">L'éco-ferme de Nouvoitou</h2>
<p class="homeText">
    Romuald Henri vous accueille près de chez vous et
    vous propose des produits de saisons pour toutes et tous!
    Natif de Nouvoitou, Romuald s'est orienté depuis 4 ans
    dans l'agriculture biologique.
</p>
<p>
    Afin de mieux connaître leurs activités, leurs services et produits, rendez-vous sur la page de présentation de <a href="{{ path('visitor_presentation') }}">L'ECO-FERME </a>! 
</p>
<footer>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-2"><p><strong>L'ECO-FERME</strong></br>belin-35410 NOUVOITOU</br>0612345678</br><a href="mailto:ecoferme@sfr.fr">L'éco-ferme@sfr.fr</a></p></div>	
        <div class="col-xs-12 col-sm-6 col-md-2"><p><strong>Lieux et jours de retrait:</strong></br>Chateaugiron (lundi);</br>Nouvoitou à la ferme (mardi);</br>Vern sur seiche (mercredi);</br>Amanlis (jeudi);</br>Bourg barré (vendredi);</p></div>
        <div class="col-xs-12 col-sm-6 col-md-2"><p><strong>Tarifs:</strong></br>-Panier collecté :</br>10€ l'unité</br>Soit 440€ les 44 paniers</br>-Panier composé :</br>9€ l'unité</p></div>
        <div class="col-xs-12 col-sm-6 col-md-2"><p><strong>Activité:</strong></br>Animation sur la transformation des céréales en farine</br>Scolaires et particulier le mardi de 10h à 12h sur réservation.</p></div>
        <div class="col-xs-12 col-sm-6 col-md-2"><p><strong>Certification "Bio-cohérence:</strong></br><a href="http://www.biocoherence.fr/">La charte;</br></a><a href="http://www.biocoherence.fr/bio-coherence/les-grands-principes/31-pour-des-pratiques-exigeantes-le-cahier-des-charges">Le cahier des charges.</a></p></div> 
    </div>
</footer>
{% endblock %}