{% extends 'baseVisitor.html.twig' %}

{% block title %}Page de présentation !{% endblock %}

{% block body %}
    <h1 class="text-center">Bienvenue sur la page de présentation de notre structure !</h1>
        <div id="slideshow-container">
            <div id="slideshow">
                <img src="images/photo1.jpg" class="slideshow-image">
                <img src="images/photo2.jpg" class="slideshow-image">
                <img src="images/photo3.jpg" class="slideshow-image">
                <img src="images/photo4.jpg" class="slideshow-image">
                <img src="images/photo5.jpg" class="slideshow-image">
            </div>
        </div>
        <div id="titlePresentation">

            <h5 id="title1" class=" text-center"  title="Cliquez pour agrandir !"><strong>Historique <span class="chevronDown"></span>:</strong></h5>
            <div id="story">
                <h5 id="title1bis" class="text-center"  title="Cliquez pour rétrécir !"><strong>Historique <span class="chevronUp"></span>:</strong></h5>
                <img src="images/photomin1.jpg" class="image">
                <p class="presentation">
                    J'ai repris la suite de mes parents depuis 4 ans qui ont eux même repris la suite de mes grand-parents il y a 38 ans.Et oui, c'est une affaire de famille !
                    A l'époque de mes grands-parents, la ferme comptait 4 vaches, une dizaine de chèvres et autant de brebis sur une superficie de 6 hectares.
                    Mes parents ont fait évoluer la ferme de 27 hectares en développant l'agriculture de céréales et petit à petit, réduire le nombre des chèvres et de brebis mais accroître le nombre de vaches jusqu'a 45 bètes pour la production de lait.
                    Notre structure existe donc depuis 53 ans et j'ai décidé, quand j'ai pris la suite, de basculer vers une agriculture bio et responsable.
                    Pour cela, j'ai décidé de me consacrer entièrement à l'agriculture de céréales, fruits et légumes bio.
                    Afin de correspondre à une qualité optimale, j'ai adhéré à la charte bio-cohérence.
                </p>
            </div>

            <h5 id="title2" class=" text-center"  title="Cliquez pour agrandir !"><strong>Production <span class="chevronDown"></span>:</strong></h5>
            <div id="prod">
                <h5 id="title2bis" class="text-center"  title="Cliquez pour rétrécir !"><strong>Production <span class="chevronUp"></span>:</strong></h5>
                <img src="images/photo2.jpg" class="image">
                <p class="presentation">
                    Aujourd'hui, 11 hectares sont consacrés à la production de céréales anciennes, 8 pour les légumes et 7 pour les vergers de fruits.
                    Nous nous soucions de respecter les saisonnalités et l'environnement en n'utilisant aucun engrais ou pesticides afin de proposer
                    des produits en circuit court pour les personnes résidant autour de chez nous.
                </p>
            </div>
            
            <h5 id="title3" class=" text-center"  title="Cliquez pour agrandir !"><strong>Activités <span class="chevronDown"></span>:</strong></h5>
            <div id="activity">
                <h5 id="title3bis" class="text-center"  title="Cliquez pour rétrécir !"><strong>Activités <span class="chevronUp"></span>:</strong></h5>
                <img src="images/photo3.jpg" class="image">
                <p class="presentation">
                    Pour mieux sensibiler la jeune génération à la problématique du "manger sain", nous accueillons les scolaires
                    le jeudi après-midi pour une visite éducative de notre ferme en leur expliquant notre métier, notre point de vue et nos pratiques .
                    Cette activité comprend la visite des cultures, du lieu de vente des produits et de mai à septembre la visite des champs de céréales et du moulin pour 
                    une vision globale de la transformation des céréales en farine.
                    Bien évidemment, cette activité ouverte à tous necéssite une réservation de la part des écoles, centres de loisirs, maison de quartier, etc... .
                </p>
            </div>

            <h5 id="title4" class=" text-center"  title="Cliquez pour agrandir !"><strong>Fonctionnement du site <span class="chevronDown"></span>:</strong></h5>
            <div id="function">
                <h5 id="title4bis" class="text-center"  title="Cliquez pour rétrécir !"><strong>Fonctionnement du site <span class="chevronUp"></span>:</strong></h5>
                <img src="images/photo4.jpg" class="image">
                <p class="presentation">
                    Afin d'utiliser ce site à bon escient, voici une explication de son fonctionnement.</br>
                    Lorsque vous arrivez sur le site, vous avez accès à 5 pages disponible dans le menu.</br>
                    La première est la page d'accueil qui vous renseigne sur ce qui est possible de faire.</br>
                    La seconde est la page ou vous êtes actuellement et qui vous informe sur l'ensemble des
                    informations, produits, activités et fonctionnalités du site.</br>
                    La troisième vous permet de vous inscrire aux 2 paniers proposés :</br>
                    -Le panier composé vous permettant de choisir vos produits afin de le récupérer le mardi suivant chez nous de 16h à 18h30 !</br>
                     Le panier composé est un panier unique dont il faut définir les produits.Une inscription à ce panier vous donne droit à un panier.
                    Si vous désirez composés votre panier chaque semaine, vous devez vous ré-inscrire chaque semaine !</br>
                    -Le panier collecté confectionné par nos soins à récupérer chaque semaine sur l'un des 4 lieux de dépots .</br>
                    Pour le panier collecté, une inscription suffit pour un total de 44 paniers .
                    Votre inscription sera validé dès la réception du chèque de réglement et vous sera confirmé par mail .
                </p>
            </div>

            <h5 id="title5" class=" text-center"  title="Cliquez pour agrandir !"><strong>Nous trouver, nous contacter <span class="chevronDown"></span>:</strong></h5>
            <div id="find">
                <h5 id="title5bis" class="text-center"  title="Cliquez pour rétrécir !"><strong>Nous trouver, nous contacter <span class="chevronUp"></span>:</strong></h5>
                <img src="images/photo5.jpg" class="image">
                <p class="presentation">
                    Pour faciliter votre venu, voici notre adresse ainsi qu'une carte de localisation :</br>
                    L'ECO-FERME</br>
                    belin</br>
                    35410 NOUVOITOU</br>
                    0612345678</br>
                    ecoferme@sfr.fr
                </p>
                <div id="map"></div>
            </div>

            <h5 id="title6" class=" text-center" title="Cliquez pour agrandir !"><strong>Certification bio-cohérence <span class="chevronDown"></span>:</strong></h5>
            <div id="certif">
                <h5 id="title6bis" class="text-center"  title="Cliquez pour rétrécir !"><strong>Certification bio-cohérence <span class="chevronUp"></span>:</strong></h5>
                <img src="images/photobioc.png" class="image">
                <P class="presentation">
                    La certification bio-cohérence correspond à un engagement de pratiques soucieuses de l'environnement.
                    Pour de plus amples informations à ce sujet, <a href="http://www.biocoherence.fr/bio-coherence/les-grands-principes/31-pour-des-pratiques-exigeantes-le-cahier-des-charges">"consultez le site bio-cohérence" </a>!
                </P>
            </div>
        </div>
{% endblock %}