{% extends 'baseVisitor.html.twig' %}

{% block title %}Page de présentation{% endblock %}

{% block body %}
    <h1 class="text-center titlePresentation">Bienvenue sur la page de présentation de notre structure !</h1>
        <div id="slideshow-container">
            <div id="slideshow">
                <img src="images/photo1.jpg" class="slideshow-image" alt="plantation par Romuald de légumes bio">
                <img src="images/photo2.jpg" class="slideshow-image" alt="photo de l'éco-ferme">
                <img src="images/photo3.jpg" class="slideshow-image" alt="photo de la pousse du blé bio">
                <img src="images/photo4.jpg" class="slideshow-image" alt="photo d'un panier bio de l'éco-ferme">
                <img src="images/photo5.jpg" class="slideshow-image" alt="photo transformation du blé en farine">
            </div>
        </div>
        <div id="titles">

            <h5 id="title1" class=" text-center"  title="Cliquez pour agrandir !"><strong>Historique <span class="chevronDown"></span>:</strong></h5>
            <div id="story">
                <h5 id="title1bis" class="text-center"  title="Cliquez pour rétrécir !"><strong>Historique <span class="chevronUp"></span>:</strong></h5>
                <img src="images/photomin1.jpg" class="image" alt="plantation par Romuald de légumes bio">
                <p class="presentation">
                    J'ai repris la suite de mes parents depuis 4 ans qui ont eux même repris la suite de mes grand-parents il y a 38 ans. Et oui, c'est une affaire de famille !
                    A l'époque de mes grands-parents, la ferme comptait 4 vaches, une dizaine de chèvres et autant de brebis sur une superficie de 6 hectares.
                    Mes parents ont fait évoluer la ferme de 27 hectares en développant l'agriculture de céréales et petit à petit, en réduisant le nombre des chèvres et de brebis mais accroîssant le nombre de vaches jusqu'a 45 bêtes pour la production de lait.
                    Notre structure existe donc depuis 53 ans et j'ai décidé, à la reprise, de basculer vers une agriculture bio et responsable.
                    Pour cela, je me suis consacrer entièrement à la culture de céréales, fruits et légumes bio.
                    Afin de correspondre à une qualité optimale, j'ai adhéré à la charte bio-cohérence.
                </p>
            </div>

            <h5 id="title2" class=" text-center"  title="Cliquez pour agrandir !"><strong>Production <span class="chevronDown"></span>:</strong></h5>
            <div id="prod">
                <h5 id="title2bis" class="text-center"  title="Cliquez pour rétrécir !"><strong>Production <span class="chevronUp"></span>:</strong></h5>
                <img src="images/photo2.jpg" class="image" alt="photo de l'éco-ferme">
                <p class="presentation">
                    Aujourd'hui, 11 hectares sont consacrés à la production de céréales anciennes, 8 pour les légumes et 7 pour les vergers de fruits.
                    Nous nous soucions de respecter les saisonnalités et l'environnement en n'utilisant aucun engrais ou pesticides afin de proposer
                    des produits en circuit court pour les personnes résidant autour de chez nous.
                </p>
            </div>
            
            <h5 id="title3" class=" text-center"  title="Cliquez pour agrandir !"><strong>Activités <span class="chevronDown"></span>:</strong></h5>
            <div id="activity">
                <h5 id="title3bis" class="text-center"  title="Cliquez pour rétrécir !"><strong>Activités <span class="chevronUp"></span>:</strong></h5>
                <img src="images/photo3.jpg" class="image" alt="photo de la pousse du blé bio">
                <p class="presentation">
                    Pour mieux sensibiler la jeune génération à la problématique du "manger sain", nous accueillons les scolaires
                    le jeudi après-midi pour une visite éducative de notre ferme en leur expliquant notre métier, notre point de vue et nos pratiques .
                    Cette activité comprend la visite des cultures, du lieu de vente des produits et de mai à septembre la visite des champs de céréales et du moulin pour 
                    une vision globale de la transformation des céréales en farine.
                    Bien évidemment, cette activité ouverte à tous necéssite une réservation de la part des écoles, centres de loisirs, maison de quartier, etc... .
                </p>
            </div>

            <h5 id="title4" class=" text-center"  title="Cliquez pour agrandir !"><strong>Fonctionnement du site <span class="chevronDown"></span>:</strong></h5>
            <div id="function">
                <h5 id="title4bis" class="text-center"  title="Cliquez pour rétrécir !"><strong>Fonctionnement du site <span class="chevronUp"></span>:</strong></h5>
                <img src="images/photo4.jpg" class="image" alt="photo d'un panier bio de l'éco-ferme">
                <p class="presentation">
                    Afin d'utiliser ce site à bon escient, voici une explication de son fonctionnement.<br>
                    Lorsque vous arrivez sur le site, vous avez accès à 5 pages disponibles dans le menu.<br>
                </p>
                    <div class="underline"></div>
                <p>
                    La première est la page d'accueil .<br>
                </p>
                    <div class="underline"></div>
                <p>
                    La seconde est la page où vous êtes actuellement et qui vous donne accès aux<br>
                    informations, produits, activités et fonctionnalités du site.<br>
                </p>
                    <div class="underline"></div>
                <p>
                    La troisième vous permet de vous inscrire aux paniers composés :<br>
                    -Cette page vous permettra de choisir les produits de votre panier afin de le récupérer le mardi suivant chez nous de 16h à 18h30 !<br>
                </p>
                    <div class="underline"></div>
                <p>
                    La quatrième vous permet de vous inscrire aux paniers collectés :<br>
                    -Le panier collecté est un panier de 10 produits confectionné par nos soins en fonction des produits de saisons et sera à récupérer chaque semaine sur l'un des 4 lieux de dépôts que vous aurez définis lors de votre inscription.<br>
                    Pour le panier collecté, une inscription suffit pour un total de 44 paniers soit un montant total de 440 € .<br>
                    Votre inscription sera validée dès réception du chèque de réglement et vous sera confirmée par mail .<br>
                </p>
                    <div class="underline"></div>
                <p>    
                    La cinquième vous permet d'accéder à votre espace membre pour :<br>
                    Si  vous êtes inscrit(e) aux paniers collecté !<br>
                    -voir l'état de votre compte<br>
                    Si  vous êtes inscrit(e) aux paniers composé et/ou aux paniers collecté!<br>
                    -voir l'état de votre compte et composer votre panier !
                </p>
            </div>

            <h5 id="title5" class=" text-center"  title="Cliquez pour agrandir !"><strong>Nous trouver, nous contacter <span class="chevronDown"></span>:</strong></h5>
            <div id="find">
                <h5 id="title5bis" class="text-center"  title="Cliquez pour rétrécir !"><strong>Nous trouver, nous contacter <span class="chevronUp"></span>:</strong></h5>
                <img src="images/photo5.jpg" class="image" alt="photo transformation du blé en farine">
                <p class="presentation">
                    Pour faciliter votre venue, voici notre adresse ainsi qu'une carte de localisation :<br>
                    L'ECO-FERME - belin - 35410 NOUVOITOU<br>
                    0612345678<br>
                    ecoferme@sfr.fr
                </p>
                <div id="map"></div>
            </div>

            <h5 id="title6" class=" text-center" title="Cliquez pour agrandir !"><strong>Bio-cohérence <span class="chevronDown"></span>:</strong></h5>
            <div id="certif">
                <h5 id="title6bis" class="text-center"  title="Cliquez pour rétrécir !"><strong>Bio-cohérence <span class="chevronUp"></span>:</strong></h5>
                <img src="images/photobioc.png" class="image" alt="logo certification bio-cohérence">
                <P class="presentation">
                    La certification bio-cohérence correspond à un engagement de pratiques soucieuses de l'environnement.
                    Pour de plus amples informations à ce sujet, <a href="http://www.biocoherence.fr/bio-coherence/les-grands-principes/31-pour-des-pratiques-exigeantes-le-cahier-des-charges">"consultez le site bio-cohérence" </a>!
                </P>
            </div>
        </div>
{% endblock %}