{% extends 'baseUsers.html.twig' %}

{% block title %}Page d'accès à votre espace d'administration !{% endblock %}

{% block body %}
<h1 class="text-center">Bienvenue sur la page d'accès à votre espace d'administration !</h1>
<p>Pour accéder à votre espace d'administration, veuillez vous identifier grâce au formulaire ci-dessous ! </p>

{{ form_start(formFour) }}
{{ form_row(formFour.pseudo, {'attr' : {'placeholder': "Votre pseudo"}}) }}
{{ form_row(formFour.password, {'attr' : {'placeholder': "Votre mot de passe"}}) }}
<button type="submit" class="btn btn-success">Accéder à votre espace d'administration !</button>

{{form_end(formFour)}}
{% endblock %}