{% extends 'baseUsers.html.twig' %}

{% block title %}Page d'accueil !{% endblock %}

{% block body %}
<h1 class="text-center">BIENVENUE SUR LA PAGE D'ACCUEIL !</h1>
<p class="homeTitle">
<h2>L'éco-ferme</br>de</br>Nouvoitou</h2>
</p>
<p class="homeText">
    Romuald Henri vous accueille près de chez vous et</br>vous propose des produits de saisons pour toutes et tous!</br>
    Natif de Nouvoitou et à la suite de mes parents,</br>nous nous sommes orientés depuis 4 ans dans l'agriculture biologique.
</p>
<p>
    Afin de mieux connaître nos activités, nos services et nos produits,</br>rendez-vous sur notre page de présentation de <a href="{{ path('users_presentation') }}">L'ECO-FERME</a>! 
</p>
<footer>
    <div class="container">
      <div class="footer">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-2"><p>Contact:</br>L'ECO-FERME</br>belin-35410 NOUVOITOU</br>0612345678</br><a href="http://l'eco-ferme.com" style="color:white;">L'éco-ferme@sfr.fr</a></p></div>	
            <div class="col-xs-12 col-sm-6 col-md-2" ><p>Lieux et jours de retrait:</br>Nouvoitou (lundi);</br>Chateaugiron(mardi);</br>Vern sur seiche(mercredi);</br>Amanlis(jeudi);</br>Bourg barré(vendredi);</p></div>
            <div class="col-xs-12 col-sm-6 col-md-2"><p>Tarifs:</br>-Panier collecté :</br>10€ l'unité</br>Soit 440€ les 44 paniers</br>-Panier composé :</br>9€ l'unité</p></div>
            <div class="col-xs-12 col-sm-6 col-md-2"><p>Activité:</br>Animation sur la transformation des céréales en farine</br>Scolaires et particulier le mardi de 10h à 12h sur réservation.</p></div>
            <div class="col-xs-12 col-sm-6 col-md-2"><p>Certification "Bio-cohérence:</br><a href="http://www.biocoherence.fr/" style="color:white;">La charte;</br></a><a href="http://www.biocoherence.fr/bio-coherence/les-grands-principes/31-pour-des-pratiques-exigeantes-le-cahier-des-charges" style="color:white">Le cahier des charges.</a></p></div> 
        </div> 
      </div>
    </div>  
  </footer> 
{% endblock %}