{% extends 'baseUsers.html.twig' %}

{% block title %}Page de présentation !{% endblock %}

{% block body %}
<h1 class="text-center">Bienvenue sur la page de présentation de notre structure !</h1>
{% endblock %}