{% extends 'baseUsers.html.twig' %}

{% block title %}Page de présentation !{% endblock %}

{% block body %}
<h1 class="text-center">Bienvenue sur la page de présentation de notre structure !</h1>
<p>Ici sera présent un diaporama en js montrant des photos:</br>
-de la ferme</br>
-des gérants</br>
-de leurs champs</br>
-des produits</br>
-du moulin</br>
-etc
</p>
<div id="diapo"></div>
<p>Puis des titres dépliables en js(comme sur oc(chevron)) avec une photo par chapitre:</br>
-historique</br>
-production</br>
-activités</br>
-fonctionnement du site</br>
-Nous trouver, nous contacter(googlemaps)</br>
-certification bio-cohérence</br>
</p>
{% endblock %}