{% extends 'baseUsers.html.twig' %}

{% block title %}Page de présentation !{% endblock %}

{% block body %}
    <h1 class="text-center">Bienvenue sur la page de présentation de notre structure !</h1>
        <div id="slideshow-container">
            <div id="slideshow">
                <img src="images/photo1.jpg" class="slideshow-image">
                <img src="images/photo2.jpg" class="slideshow-image">
                <img src="images/photo3.jpg" class="slideshow-image">
                <img src="images/photo4.jpg" class="slideshow-image">
                <img src="images/photo5.jpg" class="slideshow-image">
            </div>
        </div>
        <p>Puis des titres dépliables en js(comme sur oc(chevron)) avec une photo par chapitre:</br>
        -historique</br>
        -production</br>
        -activités</br>
        -fonctionnement du site</br>
        -Nous trouver, nous contacter(googlemaps)</br>
        -certification bio-cohérence</br>
        </p>
{% endblock %}