{% extends 'base.html.twig' %}

{% block body %}
    <h1>Erreur serveur !</h1>

    <p>
        CODE - {{ status_code }}<br>
        {{ status_text }}<br>
        Le serveur Web rencontre une difficulté pour trouver cette URL,  <a href="{{ path('visitor_home') }}">retournez à la page d'accueil !</a>.
    </p>
{% endblock %}